@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-tarefa {
  font-size: 20px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-tarefa {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-tarefa:hover {
  background: var(--primary-color-darker);
}

.tarefas {
  list-style-type: none;
  padding: 0;
}

.item-tarefa {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.item-tarefa::before {
  content: "\2022"; /* Código Unicode para o caractere de bolinha */
  color: var(--primary-color);
  font-size: 1.5em;
  margin-right: 10px;
}

.apagar {
  margin-left: auto;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  background: #ff0000;
  padding: 15px;
  border-radius: 10px;
}
